.homebody {
    background: url('../assets/IMG_8670.JPEG');
    background-size: 1300px;
    /* width: 500px;
    height: 300px; */
  background-repeat: no-repeat
    }
    .panel-default { 
       opacity: 0.9; 
       margin-top:30px;
    }
    .form-group.last { 
       margin-bottom:50px;
    }   